#header {
  width: 100%;
  max-width: 1006px;
  margin: 0 auto;
}

.region-navigation {
  width: 100%;
  max-width: 1006px;
  margin: 0 auto;
}

#page {
  width: 100%;
  max-width: 1006px;
  padding: 20px;
  margin: 0 auto;
}

#content {
  width: 100%;
}

#footer {
  width: 100%;
  max-width: 1006px;
  margin: 0 auto;
}

/* police checks */
#block-block-1 {
  width: 30%;
  display: block;
  float: left;
  margin: 0 1.5% 0 0;
}
#block-block-1 p {
  margin: 0;
}

/* cyber crime */
#block-block-6 {
  width: 30%;
  display: block;
  float: left;
  clear: left;
  margin: 0 1.5% 0 0;
}
#block-block-6 p {
  margin: 0;
}

.front #page-title {
  display: none;
}

#block-views-infographics-block {
  width: 30%;
  float: left;
  position: relative;
  top: -450px;
}
#block-views-infographics-block .views-row {
  border: none;
}

#block-views-job-listing-block {
  width: 32%;
  height: 605px;
  float: left;
  background: #fff;
  margin: 0 0 0 1.5%;
  padding: 20px;
}
#block-views-job-listing-block .views-row {
  border: none;
}

#block-block-11 {
  width: 67%;
  height: 146px;
  float: left;
  background: #135286;
  color: #fff;
  padding: 20px;
  margin: 0 0 0 1.5%;
  position: relative;
  font-size: 1.6rem;
  line-height: 1.5;
}
#block-block-11 p {
  margin: 0;
}
#block-block-11 .button {
  background: #fff;
  color: #135286;
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 1rem;
}

.region-navigation {
  background: #135286;
  display: block;
  height: 65px;
}

#block-superfish-1 {
  max-width: 1006px;
  background: #135286;
}

#block-views-latest-news-block-1 {
  width: 32%;
  height: 605px;
  float: left;
  background: #fff;
  margin: 0 1.5%;
  padding: 20px;
}
#block-views-latest-news-block-1 .views-row {
  border: none;
}

#page {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #adafb2;
}

#content {
  padding: 0;
}
