#header {
  width: 100%;
  max-width: 1006px;
  margin: 0 auto;
}

.region-navigation {
  width: 100%;
  max-width: 1006px;
  margin: 0 auto;
}

#page {
  width: 100%;
  max-width: 1006px;
  padding: 20px;
  margin: 0 auto;
}

#content {
  width: 100%;
}

#footer {
  width: 100%;
  max-width: 1006px;
  margin: 0 auto;
}