body {
  font-family: Trebuchet, "Trebuchet MS", Verdana, Arial, Sans-serif;
}

#block-workbench-block {
  clear: both;
}

#content .views-row p {
  margin: 0 0 20px 0;
}

#header {
  width: 100%;
  max-width: 1006px;
  margin: 0 auto;
}

.region-navigation {
  width: 100%;
  max-width: 1006px;
  margin: 0 auto;
}

#page {
  width: 100%;
  max-width: 1006px;
  padding: 20px;
  margin: 0 auto;
}

#content {
  width: 100%;
}

#footer {
  width: 100%;
  max-width: 1006px;
  margin: 0 auto;
}

.breadcrumb {
  border: none;
  padding-left: 0;
  color: #33afe5;
}
.breadcrumb a {
  color: #33afe5;
}

#block-block-1,
#block-block-6 {
  width: 100%;
  background: white;
  clear: left;
}
#block-block-1 img,
#block-block-6 img {
  margin: auto;
}
@media (min-width: 720px) {
  #block-block-1,
  #block-block-6 {
    width: 30%;
    display: block;
    float: left;
    margin: 0 1.5% 0 0;
  }
  #block-block-1 p,
  #block-block-6 p {
    margin: 0;
  }
}

.view-id-commissioners .views-row {
  width: 40%;
  float: left;
}
.view-id-commissioners .views-field-field-position-title {
  font-size: 1.2rem;
  margin: 5px 0 2px 0;
}
.view-id-commissioners .views-field-title {
  font-size: 1.2rem;
  margin: 2px 0;
}
.view-id-commissioners .views-field-field-agency {
  margin: 2px 0;
  font-size: 1.2rem;
}
.view-id-commissioners .views-field-field-board-position {
  font-style: italic;
}

#content .view-id-commissioners .views-row {
  margin-right: 5%;
}

#footer ul ul ul {
  display: none;
}

#block-block-16 {
  height: 90px;
  width: 100%;
  display: block;
}

#block-menu-block-govcms-menu-block-footer {
  background: #41749e;
}
#block-menu-block-govcms-menu-block-footer .menu-block-govcms_menu_block-footer > ul > li {
  width: 100%;
  margin-bottom: 15px;
}
@media (min-width: 420px) {
  #block-menu-block-govcms-menu-block-footer .menu-block-govcms_menu_block-footer > ul > li {
    width: 50%;
  }
}
@media (min-width: 720px) {
  #block-menu-block-govcms-menu-block-footer .menu-block-govcms_menu_block-footer > ul > li {
    width: 33%;
  }
}
@media (min-width: 980px) {
  #block-menu-block-govcms-menu-block-footer .menu-block-govcms_menu_block-footer > ul > li {
    width: auto;
    margin-bottom: 0;
  }
}

#block-menu-menu-footer-sub-menu {
  background: #005f8b;
  color: #fff;
}
#block-menu-menu-footer-sub-menu a, #block-menu-menu-footer-sub-menu a:visited {
  color: #fff;
}

.menu-block-govcms_menu_block-footer > ul > li a, .menu-block-govcms_menu_block-footer > ul > li a:visited {
  text-decoration: none;
}
.menu-block-govcms_menu_block-footer > ul > li a:hover {
  text-decoration: underline;
}

.home #page-title {
  display: none;
}
.home .region-sidebar-second {
  display: none;
}

#header {
  height: 192px;
}

.header__logo {
  max-width: 535px;
  width: 80%;
  height: 77px;
}
@media (min-width: 720px) {
  .header__logo {
    margin-top: 67px;
  }
}
.lt-ie9 .header__logo {
  margin-top: 67px;
}
.header__logo .au-mark {
  width: 20%;
  height: 100%;
  float: left;
}
.header__logo .au-mark > span {
  background: url("../images/au-brand.png") no-repeat;
  background-size: contain;
  display: block;
  width: 100%;
  height: 100%;
}
.header__logo .header__logo-image {
  width: 67%;
  float: right;
}

@media (max-width: 979px) {
  .header .block-govcms-text-resize {
    position: absolute;
    right: 215px;
    bottom: -38px;
    z-index: 100;
  }
}
@media (max-width: 979px) {
  .header .block-search-api-page {
    position: absolute;
    right: 0px;
    bottom: -34px;
    z-index: 100;
  }
}

.field-name-field-info-graphic {
  margin-top: 30px;
}

#block-views-infographics-block {
  width: 100%;
  background: white;
  padding: 20px;
}
#block-views-infographics-block .views-row {
  border: none;
  padding: 0;
  margin: 0;
}
#block-views-infographics-block img {
  margin: auto;
}
@media (min-width: 720px) {
  #block-views-infographics-block {
    position: relative;
    top: -450px;
    width: 30%;
    float: left;
    padding: 0;
  }
}

@media (min-width: 720px) {
  #main #block-views-infographics-block {
    margin-bottom: -450px;
  }
}
.brick-notice {
  color: #b22222;
}

.page-current-status-of-recruitment-processes .view-footer {
  margin-top: 100px;
}
.page-current-status-of-recruitment-processes table {
  width: 100%;
}
.page-current-status-of-recruitment-processes table caption {
  color: #135286;
  font-size: 1.2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: left;
}
.page-current-status-of-recruitment-processes table th {
  width: 30%;
}
.page-current-status-of-recruitment-processes table th.views-field-title {
  width: 40%;
}

#block-views-job-listing-block {
  background: #fff;
  padding: 20px;
}
#block-views-job-listing-block h2 {
  font-size: 2.5rem;
  color: #135286;
  border-bottom: 10px solid #8dd6f7;
  padding-bottom: 10px;
}
#block-views-job-listing-block h3 a, #block-views-job-listing-block h3 a:visited {
  color: #135286;
  text-decoration: none;
}
#block-views-job-listing-block h3 a:hover {
  text-decoration: underline;
}
#block-views-job-listing-block .date-display-single {
  color: #8dd6f7;
}
#block-views-job-listing-block .view-content {
  height: 494px;
  overflow: hidden;
}
#block-views-job-listing-block .views-row {
  border: none;
  margin: 1.5em 0 0 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
}
#block-views-job-listing-block .more-link {
  padding: 9px 0;
}
#block-views-job-listing-block .more-link a, #block-views-job-listing-block .more-link a:visited {
  background: #135286;
  color: #fff;
  padding: 4px 5px;
  text-decoration: none;
}
#block-views-job-listing-block .field-name-field-job-permanency {
  float: left;
  clear: left;
}
#block-views-job-listing-block .field-name-field-job-type {
  float: left;
  margin-left: 10px;
}
#block-views-job-listing-block .field-name-field-classification {
  margin-bottom: 0;
}
@media (min-width: 720px) {
  #block-views-job-listing-block {
    width: 32%;
    height: 605px;
    float: left;
    margin: 0 0 0 1.5%;
  }
}

#block-block-11 {
  background: #135286;
  color: #fff;
  padding: 20px;
  position: relative;
  font-size: 1.6rem;
  line-height: 1.5;
}
#block-block-11 p {
  margin: 0;
}
#block-block-11 .button {
  background: #fff;
  color: #135286;
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 1rem;
}
@media (min-width: 720px) {
  #block-block-11 {
    width: 67%;
    min-height: 138px;
    float: left;
    margin: 0 0 0 1.5%;
  }
}

.region-navigation {
  background: #135286;
  display: block;
  height: 40px;
  margin-bottom: 30px;
  padding: 7px;
}
@media (min-width: 980px) {
  .region-navigation {
    padding: 0;
  }
}
.region-navigation .block__content > .menu {
  display: none;
}
@media (min-width: 980px) {
  .region-navigation .block__content > .menu {
    display: block;
  }
}
.lt-ie9 .region-navigation .block__content > .menu {
  display: block;
}
@media (min-width: 720px) {
  .region-navigation .block__content > .tinynav {
    display: block;
  }
}
@media (min-width: 980px) {
  .region-navigation .block__content > .tinynav {
    display: none;
  }
}

#block-superfish-1 {
  font-size: 1.1rem;
  max-width: 1006px;
  background: #135286;
}
#block-superfish-1 li.sf-depth-1 {
  border-left: 1px solid #001b32;
  border-right: 1px solid #5392c6;
}
#block-superfish-1 li.sf-depth-1:first-child {
  border-left: none;
}
#block-superfish-1 li.sf-depth-1:last-child {
  border-right: none;
}
#block-superfish-1 li > a {
  background: #135286;
}
#block-superfish-1 li > a:hover {
  background: #fff;
  color: #135286;
}
#block-superfish-1 li.sfHover > a.sf-depth-1 {
  background: #fff;
  color: #135286;
}
#block-superfish-1 ul {
  background: #bcbec0;
}
#block-superfish-1 ul li a {
  color: #fff;
  text-decoration: none;
}
#block-superfish-1 .sf-depth-3 a {
  padding: .3em;
  background: #135286;
}

#block-menu-block-govcms-menu-block-sidebar {
  display: none;
}
#block-menu-block-govcms-menu-block-sidebar .menu__item {
  background: #135286;
}
#block-menu-block-govcms-menu-block-sidebar .menu__item a {
  color: #fff;
  text-decoration: none;
}
#block-menu-block-govcms-menu-block-sidebar .menu__item.expanded {
  background: #135286 url("../images/menu-toggle.png") no-repeat scroll right 0;
}
#block-menu-block-govcms-menu-block-sidebar .menu__item.expanded.is-expanded {
  background-position: right -34px;
}
#block-menu-block-govcms-menu-block-sidebar .menu__item .menu {
  display: none;
  width: 100%;
  margin: 0;
}
#block-menu-block-govcms-menu-block-sidebar .menu__item .menu .menu__item {
  background: #fff;
}
#block-menu-block-govcms-menu-block-sidebar .menu__item .menu .menu__item a {
  color: #135286;
  background: none;
}
@media (min-width: 980px) {
  #block-menu-block-govcms-menu-block-sidebar {
    display: block;
  }
}

#block-views-latest-news-block-1 {
  background: #fff;
  padding: 20px;
}
#block-views-latest-news-block-1 h2 {
  font-size: 2.5rem;
  color: #135286;
  border-bottom: 10px solid #8dd6f7;
  padding-bottom: 10px;
}
#block-views-latest-news-block-1 h3 a, #block-views-latest-news-block-1 h3 a:visited {
  color: #135286;
  text-decoration: none;
}
#block-views-latest-news-block-1 h3 a:hover {
  text-decoration: underline;
}
#block-views-latest-news-block-1 .date-display-single {
  color: #8dd6f7;
}
#block-views-latest-news-block-1 .view-content {
  height: 494px;
  overflow: hidden;
}
#block-views-latest-news-block-1 .views-row {
  border: none;
  margin: 1.5em 0 0 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
}
#block-views-latest-news-block-1 .more-link {
  padding: 9px 0;
}
#block-views-latest-news-block-1 .more-link a, #block-views-latest-news-block-1 .more-link a:visited {
  background: #135286;
  color: #fff;
  padding: 4px 5px;
  text-decoration: none;
}
@media (min-width: 720px) {
  #block-views-latest-news-block-1 {
    width: 32%;
    height: 605px;
    float: left;
    margin: 0 1.5%;
  }
}

body {
  background: #bcbec0 url("../images/page-background.jpg") no-repeat top center;
}

#page {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #adafb2;
  font-size: 1.1rem;
  line-height: 1.5;
}

body.large-fonts #page {
  font-size: 1.3rem;
}

#content {
  padding: 0;
}

.internal-page #content {
  background: #fff;
  padding: 20px;
}
@media (min-width: 720px) {
  .internal-page #content {
    width: 67%;
    margin: 0 0 0 1.5%;
    float: left;
  }
  .internal-page .sidebars {
    width: 30%;
    margin: 0 1.5% 0 0;
    float: left;
  }
}

h1.page__title {
  color: #135286;
  font-size: 3.8rem;
  line-height: 1.2;
  margin: 2rem 0;
}

article h2 {
  margin-top: 2rem;
  margin-bottom: .5rem;
  padding-bottom: .5rem;
  font-size: 2rem;
  color: #135286;
  border-bottom: 1px solid #135286;
}
article h3 {
  color: #135286;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 0;
}
article .field-name-body img {
  margin: 0 15px 15px;
}

.section-partners-and-stakeholders article img {
  width: 25%;
  float: left;
  margin: 0;
}

.view-publications .field-name-field-image {
  width: 18%;
  float: left;
}
.view-publications .group-details {
  width: 80%;
  float: left;
}
.view-publications .inline {
  display: block;
  float: right;
  padding: 5px;
  color: #fff;
  background: #135286;
}
.view-publications .inline a, .view-publications .inline a:visited {
  color: #fff;
}

#views-exposed-form-publications-page .views-submit-button .form-submit {
  margin-top: .6em;
}

#block-views-pull-quote-display-block .open_quote {
  height: 54px;
  width: 72px;
  display: block;
  background: url("../images/open_quote.png") no-repeat top left;
}
#block-views-pull-quote-display-block .close_quote {
  height: 54px;
  width: 71px;
  display: block;
  background: url("../images/close_quote.png") no-repeat top left;
  float: right;
}
#block-views-pull-quote-display-block .block__content {
  font-size: 2rem;
  color: #fff;
  background: none;
  line-height: 1.2;
}

article .pull-quote {
  display: block;
  font-size: 3rem;
  line-height: 1.2;
  color: #2ac4f3;
  padding: 0 15%;
  background-image: url("../images/article-quote-open.png"), url("../images/article-quote-close.png");
  background-position: left top, right bottom;
  background-repeat: no-repeat;
}

#block-views-slideshow-block .slide__title {
  font-size: 1.9rem;
}
#block-views-slideshow-block .slide__title a {
  color: #135286;
  text-decoration: none;
}
#block-views-slideshow-block .slide__title a:visited {
  color: #135286;
}
#block-views-slideshow-block .field-name-body {
  font-size: 1.3rem;
}
#block-views-slideshow-block .field-name-field-read-more a {
  text-decoration: none;
  color: #fff;
  background: #135286;
  padding: 0.4em 0.5em;
}

.rslides_tabs li {
  color: #135286;
}
.rslides_tabs li a {
  color: #135286;
}
.rslides_tabs li.rslides_here {
  color: #fff;
  background: #135286;
}
.rslides_tabs li.rslides_here a {
  color: #fff;
}
.rslides_tabs li a.pause {
  background: url("../images/featured-articles-pause.png") no-repeat 0px -27px;
}
.rslides_tabs li a.pause.paused {
  background-color: #135286;
  color: #fff;
}
