#footer {
  ul {
    ul {
      ul {
        display: none;
      }
    }
  }
}

#block-block-16 {
  height: 90px;
  width: 100%;
  display: block;
}

#block-menu-block-govcms-menu-block-footer {
  background: #41749e;
}

#block-menu-menu-footer-sub-menu {
  background: #005f8b;
  color: #fff;
  a, a:visited {
    color: #fff;
  }
}

.menu-block-govcms_menu_block-footer > ul > li {
  a, a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}