.brick-notice{
  color: #b22222;
}

.page-current-status-of-recruitment-processes {
  .view-footer {
    margin-top: 100px;
  }
  table {
    width: 100%;
    th {
      width: 20%;
    }
    th.views-field-title {
      width: 30%;
    }
    th.views-field-field-job-contact-officer {
      width: 30%;
    }
  }
}