.brick-notice{
  color: #b22222;
}

.page-current-status-of-recruitment-processes {
  .view-footer {
    margin-top: 100px;
  }
  table {
    caption {
      color: $primary-color;
      font-size: 1.2rem;
      margin-top: 2rem;
      margin-bottom: 1rem;
      text-align: left;
    }
    width: 100%;
    th {
      width: 30%;
    }
    th.views-field-title {
      width: 40%;
    }
  }
}