#block-views-latest-news-block-1 {
  width: 32%;
  height: 605px;
  float: left;
  background: #fff;
  margin: 0 1.5%;  
  padding: 20px;
  .views-content {
    height: 535px;
    overflow: hidden;
  }
  .views-row {
    border: none;
  }
}