#block-views-pull-quote-display-block {
  .open_quote {
    height: 54px;
    width: 72px;
    display: block;
    background: url('../images/open_quote.png') no-repeat top left;
  }
  .close_quote {
    height: 54px;
    width: 71px;
    display: block;
    background: url('../images/close_quote.png') no-repeat top left;
    float: right;
  }
  .block__content {
    font-size: 2rem;
    color: #fff;
    background: none;
    line-height: 1.2;
  }
}

article {
  .pull-quote {
    display: block;
    font-size: 3rem;
    line-height: 1.2;
    color: #2ac4f3;
    padding: 0 15%;
    background-image: url('../images/article-quote-open.png'), url('../images/article-quote-close.png');
    background-position: left top, right bottom;
    background-repeat: no-repeat;
  }
}