/* police checks */
#block-block-1 {
  width: 30%;
  display: block;
  float: left;
  margin: 0 1.5% 0 0;
  p {
    margin: 0;
  }
}

/* cyber crime */
#block-block-6 {
  width: 30%;
  display: block;
  float: left;
  clear: left;
  margin: 0 1.5% 0 0;
  p {
    margin: 0;
  }
}