#block-block-1, /* police checks */
#block-block-6  /* cyber crime */
{
  width: 100%;
  background: white;
  clear: left;

  img {
    margin: auto;
  }

  @include breakpoint($medium) {
    width: 30%;
    display: block;
    float: left;
    margin: 0 1.5% 0 0;
    p {
      margin: 0;
    }
  }

}
