.view-id-commissioners {
  .views-row {
    width: 40%;
    float: left;
  }
  .views-field-field-position-title {
    font-size: 1.2rem;
    margin: 5px 0 2px 0;
  }
  .views-field-title {
    font-size: 1.2rem;
    margin: 2px 0;
  }
  .views-field-field-agency {
    margin: 2px 0;
    font-size: 1.2rem;
  }
  .views-field-field-board-position {
    font-style: italic;
  }
}

#content {
  .view-id-commissioners {
    .views-row {
      margin-right: 5%;
    }
  }
}