#footer {
  ul {
    ul {
      ul {
        display: none;
      }
    }
  }
}

#block-block-16 {
  height: 90px;
  width: 100%;
  display: block;
}

#block-menu-block-govcms-menu-block-footer {
  background: #41749e;

  .menu-block-govcms_menu_block-footer > ul > li {
    width: 100%;
    margin-bottom: 15px;

    @include breakpoint($minor) {
      width: 50%;
    }

    @include breakpoint($medium) {
      width: 33%;
    }

    @include breakpoint($large) {
      width: auto;
      margin-bottom: 0;
    }
  }
}

#block-menu-menu-footer-sub-menu {
  background: #005f8b;
  color: #fff;

  a, a:visited {
    color: #fff;
  }

  ul > li {
    width: 100%;

    a {
      padding-left: 0;

      &:before {
        display: none;
      }
    }

    @include breakpoint($minor) {
      width: 50%;
    }

    @include breakpoint($medium) {
      width: 33%;
    }

    @include breakpoint($large) {
      width: auto;

      a {
        padding-left: 0.7em;

        &:before {
          display: block;
        }
      }
    }
  }
}

.menu-block-govcms_menu_block-footer > ul > li {
  a, a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}