#header {
  height: 192px;
}

.au-mark {
  width: 105px;
  height: 77px;
  margin-top: 67px;
  float: left;
  background: url('../images/au-brand.png') no-repeat;
}

.header__logo {
  margin-left: 68px;
  margin-top: 67px;
}