#header {
  height: 192px;
}

.header__logo {
  max-width: 535px;
  width: 80%;
  height: 77px;

  @include bp-nq($medium) {
    margin-top: 67px;
  }

  .au-mark {
    width: 20%;
    height: 100%;
    float: left;

    > span {
      background: url('../images/au-brand.png') no-repeat;
      background-size: contain;
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .header__logo-image {
    width: 67%;
    float: right;
  }
}

.header {

  .block-govcms-text-resize {
    @include medium-screens {
      position: absolute;
      right: 215px;
      bottom: -38px;
      z-index: 100;
    }
  }

  .block-search-api-page {
    @include breakpoint(449px max-width) {
      bottom: -67px;
    }

    @include breakpoint(450px ($large - 1px)) {
      position: absolute;
      right: 0px;
      bottom: -34px;
      z-index: 100;
    }
  }
}