#block-views-infographics-block {
  width: 30%;
  float: left;
  position: relative;
  top: -450px;
  .views-row {
    border: none;
  }
}

#main {
  #block-views-infographics-block {
    margin-bottom: -450px;
  }
}