#block-views-job-listing-block {
  background: #fff;
  padding: 20px;
  h2 {
    font-size: 2.5rem;
    color: $primary-color;
    border-bottom: 10px solid $secondary-color;
    padding-bottom: 10px;
  }
  h3 {
    a, a:visited {
      color: $primary-color;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  .date-display-single {
    color: $secondary-color;
  }
  .view-content {
    overflow: hidden;
  }
  .views-row {
    border: none;
    margin: 1.5em 0 0 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
  }
  .more-link {
    padding: 9px 0;
    a, a:visited {
      background: $primary-color;
      color: #fff;
      padding: 4px 5px;
      text-decoration: none;
    }
  }

  @include breakpoint($medium) {
    width: 32%;
    float: left;
    margin: 0 0 0 1.5%;
  }
}