#block-block-11 {
  background: $primary-color;
  color: #fff;
  padding: 20px;
  position: relative;
  font-size: 1.6rem;
  line-height: 1.5;
  p {
    margin: 0;
  }
  .button {
    background: #fff;
    color: $primary-color;
    font-size: 1rem;
  }

  @include breakpoint($medium) {
    width: 67%;
    min-height: 138px;
    float: left;
    margin: 0 0 0 1.5%;
  }

  @include breakpoint($large) {

    .button {
      position: absolute;
      bottom: 20px;
      right: 20px;
    }
  }
}