#block-menu-block-govcms-menu-block-sidebar {
  display: none;

  .menu__item {
      background: $primary-color;
      a {
        color: #fff;
        text-decoration: none;

      }
    &.expanded {
      background: $primary-color url('../images/menu-toggle.png') no-repeat scroll right 0;
    }
    &.expanded.is-expanded {
      background-position: right -34px;
    }
    .menu {
      display: none;
      width: 100%;
      margin: 0;
      .menu__item {
        background: #fff;
        a {
          color: $primary-color;
          background: none;
        }
      }
    }
  }

  @include breakpoint($large) {
    display: block;
  }
}