body {
  background: #bcbec0 url('../images/page-background.jpg') no-repeat top center;
}

#page {
  @include box-shadow(none);
  background: #adafb2;
  font-size: 1.1rem;
  line-height: 1.5;
}

body.large-fonts {
  #page {
    font-size: 1.3rem;
  }
}

#content {
  padding: 0;
}

.internal-page {
  #content {
    background: #fff;
    padding: 20px;
  }

  @include breakpoint($medium) {
    #content {
      width: 67%;
      margin: 0 0 0 1.5%;
      float: left;
    }

    .sidebars {
      width: 30%;
      margin: 0 1.5% 0 0;
      float: left;
    }
  }
}

h1.page__title {
  color: $primary-color;
  font-size: 3.8rem;
  line-height: 1.2;
  margin: 2rem 0;
}

article {
  h2 {
    margin-top: 2rem;
    margin-bottom: .5rem;
    padding-bottom: .5rem;
    font-size: 2rem;
    color: $primary-color;
    border-bottom: 1px solid $primary-color;
  }
  h3 {
    color: $primary-color;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 0;
  }
  .field-name-body {
    img {
      margin: 0 15px 15px;
    }
  }
}